* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Press Start 2P', cursive;
    color: #fff;
    background-color: #222;
    transition: all 2s;
}

/* helper class */

.btn {
    font-size: 1.4rem;
    padding: 1.6rem 1.6rem;
    font-family: inherit;
}

.top {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}

.between {
    margin-top: 1.6rem;
}

.guess-paragraph {
    font-size: 3.2rem;
    text-align: center;
    padding: 2.4rem;
    border-bottom: 5px solid #fff;
}

.guess {
    background-color: #fff;
    color: #222;
    text-align: center;
    font-size: 3rem;
    width: 20%;
    
    padding: 2rem;

    position: absolute;
    top: 65%;
    left: 50%;

    transform: translate(-50%, -50%);
}


.guess-box {
    padding: 2rem 0 8rem;
    position: relative;
}

.inputting {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 1.4rem;

    gap: 1.4rem;
}

.inputer {
    display: flex;
    align-self: center;
    padding: 1.4rem;
    background-color: #333;
    border: 3px solid #fff;
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3.6rem;
    column-gap: 0;
}

.stats {
    display: grid;
    row-gap: 3rem;
    grid-template-rows: 4fr 1fr;
    justify-self: center;
    align-self: center;
}

.check {
    width: 40%;
    justify-self: center;
    align-self: center;
    border: 3px solid blueviolet;
}

.low-high {
    display: flex;
    align-items:;
    justify-content: center;
    width: 30rem;
    transition: all 0.5s;
}

.score {
    justify-self: center;
}